<footer class="container text-center">
  
  {% if page.layout != "landing" and page.type != "guide" %}
    <!-- newsletter -->
    <div class="row">
      <div class="col-12 my-auto py-3">
        {% include plugins/newsletter.html text="Recevez chaque mois le calendrier des randonnées VTT de Bretagne →" %}
      </div>
    </div>

    <!-- author -->
    <div class="row">
      <div class="col-12 text-center">
        <div class="row bg-light shadow p-3">
          <div class="col-md-2 my-auto">
            <img src="{{ site.url }}/assets/public/images/C8BBE0AD-E70A-46C4-958B-2F73667EE434.jpeg" alt="Nicolas Jouanno" class="img-fluid">
          </div>
          <div class="col-md-10 my-auto text-center text-md-left">
            <div class="d-block">
              Par <a href="https://nicolasjouanno.com" target="_blank" class="text-secondary">Nicolas Jouanno</a>, Développeur Fullstack JS @MGDIS, ex-cycliste professionnel. Je passe mon temps libre à rider, courir, surfer, jardinner et photographier. VTT.bzh est une application créée en 2013 et développée avec passion à Pontivy, France. <br>
              Contactez moi sur <a href="https://twitter.com/nicolasjouanno" target="_blank" rel="me" class="text-secondary">Twitter</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <!-- signature -->
  <div class="row">
    <div class="col-12 mt-5">
      <div class="icons d-inline">
        <span>
          <a href="/about.html">A propos</a> • <a href="/advertize/terms.html">Publicités</a> • <a href="/terms/legals.html">Mentions légales</a> • <a href="/blog/index.html">Blog</a> • <a href="{{ site.url }}/calendrier.html">{{ site.headline }} {{ site.time | date: "%Y" }}</a>
        </span>
        <span itemscope itemtype="http://schema.org/Organization">
           &copy; <span itemprop="name">{{ site.title }}</span>, 2013 - {{ site.time | date: "%Y" }} • 
          <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <span itemprop="ratingValue">4.533</span>/5 sur <span itemprop="reviewCount">30</span> avis • 
          </span>
        </span>
      </div>
   </div>
  </div>
</footer>
