---
title: Evénement ajouté avec succès | VTT.bzh
---
    
<section id="legende">
  <div class="container">
    <div class="row">
      <div class="col-12 spacer-lg-top spacer-md-bottom text-center">
        <h2 class="text-center alert alert-success">Votre événement a été ajouté avec succès au calendrier</h2>
        <p><strong>Et Après?</strong></p>
        <p>Mettez en avant notre partenariat ! Après la réception de l’ensemble des ces informations, nous inscrirons ou mettrons à jours votre évènement VTT sur le calendrier de  vtt.bzh  sous un délai d’une semaine.</p>
        <p>Encore merci poour votre contribution au calendrier vtt.bzh.</p>
        <p>L’équipe VTT.bzh vous souhaite de bons préparatifs pour votre évènement VTT.</p>
        <p>Bon ride à tous.</p>
        <p>Nico de VTT.bzh</p>
        <p>PS: N’oubliez pas de valorisez votre évènement en ajoutant sur les flyers et la page Facebook de votre évènement le logo VTT.bzh ;-) .</p>
      </div>
    </div>    
  </div>
</section>
