---
layout: default
title: Calendrier des randonnées VTT de Bretagne | VTT.bzh
---
<div id="header-wrapper">
  <!-- Header
  ================================================== -->
  {% include /header/header.html %}
 
  <div class="container" id="header-cta">
    <div class="row">
      <div class="col-12">
        <section id="main" role="main" class="jumbotron">
          <h1 class="cover-heading">Et si ta prochaine rando VTT était à coté de chez toi</h1>
          <p class="lead">Retrouve toutes les semaines ta rando du week-end et quelques tips en bonus pour y prendre un max de plaisir.</p>
          <p class="lead">
            <a href="/#calendar" class="btn btn-lg btn-default">Calendrier</a>
          </p>
        </section>
      </div>
    </div>
  </div>
</div> 
<section class="container" id="calendar">
  <div class="row">
    <div class="col-12 spacer-lg-top spacer-lg-bottom">
      <h3 class="spacer-md-top">Calendrier des randonnées à venir</h3>
      <span id="nombre_rando" class="badge badge-success"></span>
    </div>
  </div>

  <!-- Load event -->
  <event-item
    v-for="event in info"
    v-bind:event="event"
    v-bind:key="event.id"
  ></event-item>

  <load-more-button
    class="btn btn-primary mx-auto text-center"
    v-on:click="updateDatas"
    v-if="loadMoreButton"
  >
      voir +            
  </load-more-button>

</section>