---
title: Espace boutiques | VTT.bzh
---

<section id="coupons">
	<div class="container"> 
		<div class="row">
			<div class="col-12" id="all-coupons">
				<div id="waiting">
					<p>Chargement en cours des promotions. Celà peut prendre quelques secondes.</p> 
					<p>Merci pour votre patience.</p>
					<span class="mx-auto"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></span>
				</div>
			</div>
		</div>
		<div class="row spacer-sm-top alert alert-warning text-center">
			<div class="col-sm-12">
				<p>Votre promotion n'est pas dans la liste ?</p>
				<a href="/shopping/add-coupon.html"><button class="btn btn-default bottom-spacer-xs-top spacer-sm-bottom"><i class="fa fa-plus"></i> Ajouter une promotion</button></a>
			</div>				
		</div>
	</div>
</section>
