---
title: Evénement ajouté avec succès | VTT.bzh
---
    
<section id="legende">
  <div class="container">
    <div class="row">
      <div class="col-12 spacer-lg-top spacer-md-bottom text-center">
        <h2 class="text-center alert alert-success">Votre promotion a été ajoutée avec succès</h2>
        <p><a href="/shopping/index.html" class="btn btn-primary">< Retour aux promotions</a></p>
      </div>
    </div>    
  </div>
</section>
