<header class="container-fluid shadow">
  <div class="container ">
    <!--Navigation-->
    <nav id="nav-top" class="py-4 navbar navbar-expand-lg navbar-light">

      <div class="container-fluid">
        <a href="{{ site.url }}" class="navbar-brand">
        
          <img src="{{ site.url }}/assets/images/logo.png" alt="{{ site.title }} - {{ site.headline }}" class="d-inline-block align-text-center logo">
          
          <span class="h3 text-dark">VTT.bzh</span>
          
        </a>
    
        <a href="https://nicolasjouanno.com" class="btn btn-primary border-0 px-4 fw-bold rounded-pill">Me suivre</a>
    
      </div>
    
    </nav>

  </div>
</header>
