<nav id="nav-top" class="py-4 navbar navbar-expand-lg navbar-light">

  <div class="container-fluid">
    <a href="{{ site.url }}" class="navbar-brand">
    
      <img src="{{ site.url }}/assets/images/logo.png" alt="{{ site.title }} - {{ site.headline }}" class="d-inline-block align-text-center logo">
      
      <span class="h3 text-dark">VTT.bzh</span>
      
    </a>
    
    {% if page.layout != "landing" %}
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-end" id="mainMenu">
        <!-- Begin Menu -->
        <ul class="navbar-nav ml-auto">
  
          <li class="nav-item my-2">
            <a href="{{ site.url }}/calendrier.html" class="btn btn-outline-dark border-0 px-4 fw-bold rounded-pill">Randonnées</a>
          </li>

          <li class="nav-item my-2">
            <a href="{{ site.url }}/guides/" class="btn btn-outline-dark border-0 px-4 fw-bold rounded-pill">Guides</a>
          </li> 

          <li class="nav-item my-2">
            <a href="{{ site.url }}/blog/index.html" class="btn btn-outline-dark border-0 px-4 fw-bold rounded-pill">Articles</a>
          </li>
        </ul>
        <!-- End Menu -->
      </div>
      
    {% endif %}

  </div>

</nav>
