---
layout: default
type: guide
title: "Découvrez tous nos guides pour la pratique du vtt et de la randonnée"
description: "Parcourez nos guides pour perfectionner vos connaissances sur le VTT et découvrir de nouvelles randonnées "
permalink: "/guides/"
---
<h1 class="my-5">Les Guides VTT</h1>

<div class="row">
  
  {% for guide in site.data.guides %}

    {% include boxes/guide.html class="col-lg-4 col-md-6" %}

  {% endfor %}
  
</div>

<div class="bg-light border shadow p-5 mt-5 text-center">
  
  <big class="d-block mb-2">
    Nos guides sont élaborés pour aider les cyclistes débutant à expert. Si vous vous posez des questions sur votre matériel, équipement, entrainement et endroits où pratiquer. Suivez le guide !<br>
  </big>
  
  <big class="d-block my-2">
    Nos guides sont au format pdf. Vous pouvez donc les lires sur votre ordinateur, tablette et mobile sans connection à internet.
  </big>
  
  <big class="d-block my-2">
    Nous écrivons au maximum nos guides avec des professionnels du cycle: magasins, marques, athlètes, coachs et experts.
  </big>
  
  <h3 class="my-5 ">Nous vous ferons savoir quand nous publierons quelque chose de nouveau</h3>
</div>