<!-- Author Box -->     

<div class="d-flex mb-3 px-5">
    <meta itemprop="author creator" content="{{ author.display_name }}">
    
    <div class="mx-auto itemprop="publisher" itemscope itemtype="http://schema.org/Organization">  
        <span>
            Par 
            <span itemprop="name" class="font-weight-bold text-dark d-inline">
                {{ author.display_name }}
            </span>
            <a target="_blank" class="text-dark ml-1" href="{{ author.linkedin }}" rel="me">
              <i class="fab fa-linkedin"></i>
            </a>
            ,
        </span>

        <!-- Post Date -->
        {% if page.date %}
            <span class="text-muted">
                le 
                {% if page.layout == "post" %}
                    <time>{{ page.date | date_to_string }}</time>
                {% else %}
                    <time class="" itemprop="dateCreated datePublished dateModified" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                {% endif %}
            </span>
        {% endif %} 

        <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="{{ site.url }}/{{ site.logo }}">
            <meta itemprop="width" content="60">
            <meta itemprop="height" content="60">
        </span>
        <meta itemprop="url" content="{{site.url}}">          
    </div>
</div>
