<!-- begin guide -->
<article class="{{ include.class }} mb-3" itemscope="" itemtype="http://schema.org/BlogPosting">
    <div class="card h-100 shadow">
        <meta itemprop="url mainEntityOfPage" content="{{ site.url}}{{guide.url }}">
        <meta itemprop="articleBody" content="{{ guide.description | strip_html | truncatewords:30 }}">  
        <meta itemprop="dateCreated datePublished dateModified" content="{{ guide.date | date_to_string }}">     
        <h2 class="card-title h5 mt-3 px-2 text-center" itemprop="headline">
            <a class="text-dark" href="{{ site.url}}{{guide.url }}">{{ guide.title }}</a>
        </h2>
        <div class="maxthumb p-3">
            <a href="{{ site.url}}{{guide.url }}">
                {% if guide.image %} <img class="img-fluid" src="{% if guide.image contains "://" %}{{ guide.image }}{% else %}{{ site.url}}{{ guide.image }}{% endif %}" alt="{{ guide.title }}" itemprop="image thumbnailUrl"> {% endif %}
            </a>
        </div>
    </div> 
</article>
<!-- end guide -->
