<!-- begin post -->
{% assign author = site.data.authors[post.author] %}
<article class="{{ include.class }} mb-3" itemscope="" itemtype="http://schema.org/BlogPosting">
    <div class="card h-100 shadow">
        <meta itemprop="url mainEntityOfPage" content="{{ site.url}}{{post.url }}">
        <meta itemprop="articleBody" content="{{ post.excerpt | strip_html | truncatewords:30 }}">  
        <meta itemprop="dateCreated datePublished dateModified" content="{{ post.date | date_to_string }}">     
        <h2 class="card-title h5 mt-3 px-2" itemprop="headline">
            <a class="text-dark" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
        </h2>
        <div class="maxthumb">
            <a href="{{ post.url | absolute_url }}">
                {% if post.image %} <img class="img-fluid" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ post.image | absolute_url }}{% endif %}" alt="{{ post.title }}" itemprop="image thumbnailUrl"> {% endif %}
            </a>
        </div>
    </div> 
</article>
<!-- end post -->
