---
layout: archive
title: "Blog, découvrez nos conseils pour la pratique du VTT."
---
<div class="row">
        <div class="col-12 my-5">
                <h1>Blog</h1>
        </div>        
</div>
<div class="row pt-2">

    {% for post in paginator.posts %}

        {% include /boxes/post.html class="col-lg-4 col-md-6" %}

    {% endfor %}

</div>

<!-- Pagination
================================================== -->
<div class="bottompagination mt-3 mb-5">

    <div class="pointerup">

        <i class="fa fa-caret-up"></i>

    </div>

    <div class="navigation text-center" role="navigation">

        {% include /plugins/pagination.html %}

    </div>

</div>
