@font-face {
    font-family: 'roboto';
    src: url('./RobotoCondensed-Regular.ttf')
}

@font-face {
    font-family: 'roboto';
    font-weight: 600;
    src: url('./RobotoCondensed-Light.ttf')
}

@font-face {
    font-family: 'roboto';
    font-weight: 800;
    src: url('./RobotoCondensed-Bold.ttf')
}