<head>

  <!-- seo -->
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="Nicolas Jouanno">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-site-verification" content="p6n7BrHhMIgg3KX7bCmj6fzgSvSRwlppzRWJY4-d9IY" />

  <!-- Boostrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  
  <link rel="stylesheet" href="assets/public/global.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143610763-1"></script>

  {% if site.url != "http://localhost:4000" %}
  <!-- google analytics -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143610763-1');
    </script>
  {% endif %}
  
  <!-- Schema.org -->
  <script type="application/ld+json">
    {
      "@context":"http://schema.org",
      "@type":"Organization",
      "name":"VTT.bzh",
      "address":
        {
          "@type":"PostalAddress",
          "streetAddress":"rue nationale",
          "addressLocality":"Pontivy",
          "addressRegion":"Bretagne","postalCode":"56300"
        },
      "aggregateRating":
        {
          "@type":"AggregateRating",
          "ratingValue": 4.533,
          "ratingCount": 30,
          "bestRating": 5,
          "worstRating": 0
        }
    }
  </script>

  <link rel="icon" href="assets/public/images/favicon.ico">

</head>
