<header class="container-fluid shadow mb-5">
  <div class="container">
    <div class="d-md-flex justify-content-between py-3">
      <!-- Logo -->
      <div class="py-2">
        <a href="{{ site.url }}" class="text-dark">
          <img src="{{ site.url }}/assets/public/images/logo.png" alt="{{ site.title }}" class="logo">
          <span class="h3">VTT.bzh</span>
        </a>
      </div>

      <!-- newsletter -->
      <div class="my-auto">
        {% include plugins/newsletter.html text="Calendrier mensuel →" %}
      </div>
    </div>
  </div>
</header>
