---
layout: default
type: guide
title: "Découvrez tous nos guides pour la pratique du vtt et de la randonnée"
description: "Parcourez nos guides pour perfectionner vos connaissances sur le VTT et découvrir de nouvelles randonnées "
permalink: "/guides/"
---
<h1 class="my-5">Les Guides VTT</h1>

<div class="row">
  
  {% for guide in site.data.guides %}

    {% include boxes/guide.html class="col-lg-4 col-md-6" %}

  {% endfor %}
  
</div>

<div class="bg-light border shadow p-5">
  <p class="text-center my-5">
    Nos guides sont élaborés pour aider les cyclistes débutant à expert. Si vous vous posez des questions sur votre matériel, équipement, entrainement et endroits où pratiquer. Suivez le guide !<br>
    Nos guides sont au format pdf. Vous pouvez donc les lires sur votre ordinateur, tablette et mobile sans connection à internet.<br>
    Nous écrivons au maximum nos guides avec des professionnels du cycle: magasins, marques, athlètes, coachs et experts.<br>
  </p>
  <form class="ml-block-form" action="https://app.mailerlite.com/webforms/submit/f8v4z9" data-code="f8v4z9" method="post" target="_blank">
    <div class="ml-form-formContent">
      <div class="ml-form-fieldRow ml-last-item">
        <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
          <input type="email" class="form-control" data-inputmask="" name="fields[email]" value="" placeholder="Email">
        </div>
      </div>
    </div>

    <input type="hidden" name="ml-submit" value="1">
    <div class="ml-form-embedSubmit">
      <button type="submit" class="btn btn-primary rounded-pill shadow">Enregistre-moi →</button>
      <button disabled="disabled" style="display: none;" type="button" class="loading">
        <div class="ml-form-embedSubmitLoad"><div>
      </button>
    </div>
  </form>
  <div class="ml-form-successBody row-success" style="display: none">
    <div class="ml-form-successContent">
      <h4>Merci!</h4>
      <p data-children-count="0">Vous serez informé des prochaines sorties de Guide.</p>
    </div>
  </div>
</div>
 
  
</div>

<!--Mailerlite-->

<script>
  function ml_webform_success_1532388() {
      var $ = ml_jQuery || jQuery;
      $('.ml-subscribe-form-1532388 .row-success').show();
      $('.ml-subscribe-form-1532388 .row-form').hide();
    }
</script>
<img src="https://track.mailerlite.com/webforms/o/1532388/f8v4z9?v253251d9ecd93b8e74c12a37f72e896f" width="1" height="1" style="max-width: 1px; max-height: 1px; visibility: hidden; padding: 0; margin: 0; display: block;" border="0">
<script src="https://static.mailerlite.com/js/w/webforms.min.js?v253251d9ecd93b8e74c12a37f72e896f" type="text/javascript"></script> 
