---
title: Merci | VTT.bzh
---

<!-- Main -->
<section class="container">
	<header class="col-12 spacer-lg-top spacer-lg-bottom">
		<h2>Super !</h2>
		<p> Merci de vous être abonné à VTT.bzh PREMIUM ! Vous receverez dès jeudi prochain votre premier programme.</p>
	</header>
	
	<div class="row">
		<div class="col-12 spacer-lg-top">
			<a href="/" class="btn btn-primary text-strong"><< Retourner au calendrier</a>		
		</div>
	</div>
</section>
