<footer class="container">
  
  {% if page.layout != "landing" and page.type != "guide" %}

    <!-- author -->
    <div class="row bg-light shadow p-3">
      <div class="col-md-2 my-auto">
        <img src="{{ site.data.authors.nicolas.avatar }}" alt="{{ site.data.authors.nicolas.display_name }}" class="img-fluid">
      </div>
      <div class="col-md-10 my-auto text-center text-md-left">
        <p>
          Par <a href="{{ site.data.authors.nicolas.web }}" target="_blank">{{ site.data.authors.nicolas.display_name }}</a>, {{ site.date.authors.nicolas.bio }}. {{ site.date.authors.nicolas.location }}
        </p>
        <p> 
          Contactez moi avec le formulaire de <a href="/contact.html">contact</a>.
        </p>
      </div>
    </div>
  {% endif %}

  <!-- signature -->
  <div class="mt-5">
      <p>
        <a href="/about.html">A propos</a> • <a href="/contact.html">Contact</a> • <a href="/terms/legals.html">Mentions légales</a> • <a href="/blog/index.html">Blog</a> • <a href="{{ site.url }}/calendrier.html">{{ site.headline }} {{ site.time | date: "%Y" }}</a>
      </p>
      <span itemscope itemtype="http://schema.org/Organization">
         &copy; <span itemprop="name">{{ site.title }}</span>, 2013 - {{ site.time | date: "%Y" }} • 
        <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
          <span itemprop="ratingValue">4.533</span>/5 sur <span itemprop="reviewCount">30</span> avis • 
        </span>
      </span>
   </div>
  </div>
</footer>
