<!doctype html>
<html lang="fr">

  <!-- Head
  ================================================== -->
  {% include /header/head.html %}

  <body>

    <div>
      <!-- Header
      ================================================== -->
      {% include /header/header.html %}

    </div> 

    <main role="main">
    
      {{ content }}      

    </main>


    <footer class="container">
      <div class="row">
        <div class="col-12">
          <ul class="icons">
            <li>
              <span itemscope itemtype="http://schema.org/Organization">
                <span itemprop="name">{{ site.title }}</span> &copy; 2013 - {{ site.time | date: "%Y" }} • 
                <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                  <span itemprop="ratingValue">4.533</span>/5 sur <span itemprop="reviewCount">30</span> avis • 
                </span>
              </span>            
            </li>
          </ul>
       </div>
      </div>

      <div class="row">
        <div class="col-12 text-center p-3">
          <div class="d-block bg-light shadow p-3">
            <div class="row">
              <div class="col-sm-2 my-auto">
                <img src="assets/public/images/profile.png" alt="Nicolas Jouanno">
              </div>
              <div class="col-sm-10 my-auto"></div>
                Par <a href="https://nicolasjouanno.com">Nicolas Jouanno</a>, Chef de Projet Digital Full Stack, ex-cycliste professionnel. Je passe mon temps libre à rider, courir, surfer, jardinner et photographier. Créer et développé avec passion depuis Pontivy, France.

            </div>
          </div>

          
        </div>
      </div>
    </footer>

  </body>

  <!-- fontawesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

  <!-- application -->
  <script src="assets/public/app.js"></script>
  
</html>
