<!doctype html>
<html lang="fr">

  <!-- Head
  ================================================== -->
  {% include /header/head.html %}

  <body>
    <!-- application -->  
    <main id="app">
    
      {{ content }}      

    </main>


    <footer class="container">
      <div class="row">
        <div class="col-12">
          <ul class="icons">
            <li>
              <span itemscope itemtype="http://schema.org/Organization">
                <span itemprop="name">{{ site.title }}</span> &copy; 2013 - {{ site.time | date: "%Y" }} • 
                <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                  <span itemprop="ratingValue">4.533</span>/5 sur <span itemprop="reviewCount">30</span> avis • 
                </span>
              </span>            
            </li>
          </ul>
       </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          Créer et réalisé avec passion par : <a href="https://nicolasjouanno.com">Nicolas Jouanno</a>
        </div>
      </div>
    </footer>

  </body>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <!-- fontawesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

  <!--GetSiteControl.js-->
  <script>
    (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
      t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
    })(window, document, '_gscq','script','//widgets.getsitecontrol.com/50678/script.js');
  </script>

  <script src="assets/public/app.js"></script>
  
</html>
