---
title: avis utilisateurs | VTT.bzh
---
    
<!-- Main -->
<section class="container">
	<header class="col-12 spacer-lg-top spacer-lg-bottom">
		<h2>Calendrier des randonnées VTT de Bretagne</h2>
		<p>Juillet 2017</p>
	</header>
	
	<div class="row">
		<div class="col-12 spacer-lg-top">
			<p>
				

				date : 10 octobre 2016
				rate : ★★★★★
				comment : “site très complet et multi-support.”
				author : - nicolas
				short : Très pratique

				date : 28 octobre 2016
				rate : ★★★★★
				comment : “Toujours bien d'avoir des infos et les plannings”
				author : - CHRISTOPHE
				short : Bonne application pour les rando

				date : 28 octobre 2016
				rate : ★★★★★
				comment : “Bonne application pour les vététistes”
				author : - Philippe
				short : Je suis très satisfait de ce site.

				date : 28 octobre 2016
				rate : ★★★★★
				comment : “Quand je souhaite rechercher une rando à proximité de ma commune, j'allume ma tablette et j'ouvre "vtt bzh" dans mes mails. C'est très complet et rapide. Merci à vous! Cdlt.”
				author : - Daniel
				short : super pratique

				date : 28 octobre 2016
				rate : ★★★★★
				comment : “Super site,Il serait intéressant d avoir les Lieux de rando localisés sur une carte en fonction de notre geocalisation afin de connaître immediatement la rando la plus proche et pouvoir situer le lieux”
				author : - regis
				short : Très bien

				date : 28 octobre 2016
				rate : ★★★★★
				comment : “Venant juste d'arriver dans la région j'ai trouver ce site qui permet de"rider" facilement où on veut”
				author : - Jean Jacques
				short : La référence

				date : 28 octobre 2016
				rate : ★★★★★
				comment : “La référence pour les riders bretons. Complet pour tous et réactif avec les organisateurs. Merci braz !”
				author : - Ivan
				short : Très bien

				date : 28 octobre 2016
				rate : ★★★★★
				comment : “Site très complet”
				author : - Yann
				short : Super

				date : 28 octobre 2016
				rate : ★★★★★
				comment : “Ne changez rien au top, Merci bcp”
				author : - Christophe
				short : Excellent

				date : 29 octobre 2016
				rate : ★★★★★
				comment : “Comment faire pour trouver un rando en bretonnie sans passer tout son temps a fouiller le web. c est simple commme VTT.bzh ! Sportivement”
				author : - Djeff
				short : tres bien

				date : 29 octobre 2016
				rate : ★★★★★
				comment : “c est un site tres intéressant et efficace pour nous associations qui organisons des randonnées”
				author : - gil
				short : bien

				date : 29 octobre 2016
				rate : ★★★★★
				comment : “très bien”
				author : - yves
				short : Pratique et utile

				date : 29 octobre 2016
				rate : ★★★★★
				comment : “Utilisation simple, recherche rapide pour les départements voisins, cela suffit. Peut-être quelques rando dans les petites villes qui ne sont pas inscrite. REM”
				author : - REMY
				short : Très bonne application

				date : 30 octobre 2016
				rate : ★★★★★
				comment : “Très pratique pour trouver une rando dans notre région. Je la recommande à tous les vttistes!”
				author : - Mik
				short : ça motive

				date : 1 novembre 2016
				rate : ★★★★★
				comment : “Toujours agréable de recevoir le mail, ça me motive à préparer le matos pour le WE à rouler sur des communes que l'on ne connait pas forcément et de rencontrer des bénévoles et des amateurs de VTT.”
				author : - Patrice
				short : trés bien

				date : 2 novembre 2016
				rate : ★★★★★
				comment : “bonne continuation et longue vie au site. sportivement votre.”
				author : - andré
				short : Une vraie mine d'or

				date : 3 novembre 2016
				rate : ★★★★★
				comment : “Une solution rapide pour trouver la rando à proximité de chez soi. Je recommande.”
				author : - Rénald
				short : tout a fait satisfait

				date : 4 novembre 2016
				rate : ★★★★★
				comment : “C'est bien clair et facile a consulter”
				author : - loic
				short : tres bien

				date : 8 novembre 2016
				rate : ★★★★★
				comment : “Un très grand choix de propositions de randonnées tout au long de l'année. Rien à redire”
				author : - sebastien
				short : Super

				date : 26 février 2017
				rate : ★★★★★
				comment : “Claire et ordonnée, cette application est tout simplement indispensable.”
				author : - Jean-Jacques
				short : clair ,precis sans chichi ni tralala

				date : 28 octobre 2016
				rate : ★★★★☆
				comment : “cool quoi....................!!!!!!!!”
				author : - emmanuel
				short : Super appli

				date : 28 octobre 2016
				rate : ★★★★☆
				comment : “J'utilise surtout l'appli, pour les randos. Une amélioration type autour de moi serait sympa, en effet je suis limité 44/56/35 et je dois jeter un œil aux 3 dépt pour mes sorties. Sinon l'appli est top.”
				author : - Pati ce
				short : site interessant et pas mal fait

				date : 28 octobre 2016
				rate : ★★★★☆
				comment : “manque de clarté sur certaines pages du site et les encarts de publicité prennent trop de place”
				author : - anthony
				short : bien

				date : 28 octobre 2016
				rate : ★★★★☆
				comment : “Bon support assez complet et simple d'utilisation pour s'informer sur les randos vtt et s'organiser.”
				author : - jc
				short : Complet

				date : 29 octobre 2016
				rate : ★★★★☆
				comment : “Site complet où l'on retrouve tout ce dont on a besoin: calendrier, matériel, tests...”
				author : - Stéphane
				short : Très pratique

				date : 29 octobre 2016
				rate : ★★★★☆
				comment : “Bonjour, Très pratique, grâce à BZH j'ai fait toutes les rando vtt proches de chez moi. Merci .”
				author : - Éric
				short : Bon

				date : 30 octobre 2016
				rate : ★★★★☆
				comment : “Manque encore quelque dates de rando sinon le concept de l applis est top rapide et fonctionnel”
				author : - Jeremy
				short : bien

				date : 2 janvier 2017
				rate : ★★★★☆
				comment : “très bon site”
				author : - yves
				short : 7/10

				date : 29 octobre 2016
				rate : ★★★☆☆
				comment : “slt il manque la meteo du jour tres pratique si ce n'est deja fais...”
				author : - anthony
				short : tres moyen

				date : 28 octobre 2016
				rate : ★☆☆☆☆
				comment : “impossible de valider le lien pour la création du compte. Donc impossible d'aller sur le site.”
				author : - yannick
				short : 
			</p>			
		</div>

	</div>
</section>
