---
title: avis utilisateurs | VTT.bzh
---
    
<!-- Main -->
<section class="container">
	<header>
		<h2>Calendrier des randonnées VTT de Bretagne</h2>
		<p>Juillet 2017</p>
	</header>
	<div class="row">
		<div class="col-12">
			<p>
				complet

				10 octobre 2016
				★★★★★
				“site très complet et multi-support.”
				- nicolas
				Très pratique

				28 octobre 2016
				★★★★★
				“Toujours bien d'avoir des infos et les plannings”
				- CHRISTOPHE
				Bonne application pour les rando

				28 octobre 2016
				★★★★★
				“Bonne application pour les vététistes”
				- Philippe
				Je suis très satisfait de ce site.

				28 octobre 2016
				★★★★★
				“Quand je souhaite rechercher une rando à proximité de ma commune, j'allume ma tablette et j'ouvre "vtt bzh" dans mes mails. C'est très complet et rapide. Merci à vous! Cdlt.”
				- Daniel
				super pratique

				28 octobre 2016
				★★★★★
				“Super site,Il serait intéressant d avoir les Lieux de rando localisés sur une carte en fonction de notre geocalisation afin de connaître immediatement la rando la plus proche et pouvoir situer le lieux”
				- regis
				Très bien

				28 octobre 2016
				★★★★★
				“Venant juste d'arriver dans la région j'ai trouver ce site qui permet de"rider" facilement où on veut”
				- Jean Jacques
				La référence

				28 octobre 2016
				★★★★★
				“La référence pour les riders bretons. Complet pour tous et réactif avec les organisateurs. Merci braz !”
				- Ivan
				Très bien

				28 octobre 2016
				★★★★★
				“Site très complet”
				- Yann
				Super

				28 octobre 2016
				★★★★★
				“Ne changez rien au top, Merci bcp”
				- Christophe
				Excellent

				29 octobre 2016
				★★★★★
				“Comment faire pour trouver un rando en bretonnie sans passer tout son temps a fouiller le web. c est simple commme VTT.bzh ! Sportivement”
				- Djeff
				tres bien

				29 octobre 2016
				★★★★★
				“c est un site tres intéressant et efficace pour nous associations qui organisons des randonnées”
				- gil
				bien

				29 octobre 2016
				★★★★★
				“très bien”
				- yves
				Pratique et utile

				29 octobre 2016
				★★★★★
				“Utilisation simple, recherche rapide pour les départements voisins, cela suffit. Peut-être quelques rando dans les petites villes qui ne sont pas inscrite. REM”
				- REMY
				Très bonne application

				30 octobre 2016
				★★★★★
				“Très pratique pour trouver une rando dans notre région. Je la recommande à tous les vttistes!”
				- Mik
				ça motive

				1 novembre 2016
				★★★★★
				“Toujours agréable de recevoir le mail, ça me motive à préparer le matos pour le WE à rouler sur des communes que l'on ne connait pas forcément et de rencontrer des bénévoles et des amateurs de VTT.”
				- Patrice
				trés bien

				2 novembre 2016
				★★★★★
				“bonne continuation et longue vie au site. sportivement votre.”
				- andré
				Une vraie mine d'or

				3 novembre 2016
				★★★★★
				“Une solution rapide pour trouver la rando à proximité de chez soi. Je recommande.”
				- Rénald
				tout a fait satisfait

				4 novembre 2016
				★★★★★
				“C'est bien clair et facile a consulter”
				- loic
				tres bien

				8 novembre 2016
				★★★★★
				“Un très grand choix de propositions de randonnées tout au long de l'année. Rien à redire”
				- sebastien
				Super

				26 février 2017
				★★★★★
				“Claire et ordonnée, cette application est tout simplement indispensable.”
				- Jean-Jacques
				clair ,precis sans chichi ni tralala

				28 octobre 2016
				★★★★☆
				“cool quoi....................!!!!!!!!”
				- emmanuel
				Super appli

				28 octobre 2016
				★★★★☆
				“J'utilise surtout l'appli, pour les randos. Une amélioration type autour de moi serait sympa, en effet je suis limité 44/56/35 et je dois jeter un œil aux 3 dépt pour mes sorties. Sinon l'appli est top.”
				- Pati ce
				site interessant et pas mal fait

				28 octobre 2016
				★★★★☆
				“manque de clarté sur certaines pages du site et les encarts de publicité prennent trop de place”
				- anthony
				bien

				28 octobre 2016
				★★★★☆
				“Bon support assez complet et simple d'utilisation pour s'informer sur les randos vtt et s'organiser.”
				- jc
				Complet

				29 octobre 2016
				★★★★☆
				“Site complet où l'on retrouve tout ce dont on a besoin: calendrier, matériel, tests...”
				- Stéphane
				Très pratique

				29 octobre 2016
				★★★★☆
				“Bonjour, Très pratique, grâce à BZH j'ai fait toutes les rando vtt proches de chez moi. Merci .”
				- Éric
				Bon

				30 octobre 2016
				★★★★☆
				“Manque encore quelque dates de rando sinon le concept de l applis est top rapide et fonctionnel”
				- Jeremy
				bien

				2 janvier 2017
				★★★★☆
				“très bon site”
				- yves
				7/10

				29 octobre 2016
				★★★☆☆
				“slt il manque la meteo du jour tres pratique si ce n'est deja fais...”
				- anthony
				tres moyen

				28 octobre 2016
				★☆☆☆☆
				“impossible de valider le lien pour la création du compte. Donc impossible d'aller sur le site.”
				- yannick
			</p>			
		</div>

	</div>
</section>
