---
title: Calendrier des randonnées VTT de Bretagne | VTT.bzh
---
    
<section id="calendar" class="container">
  <div class="row">
    <div class="col-12 spacer-lg-top spacer-lg-bottom">
      <h3 class="spacer-md-top">Calendrier des randonnées à venir</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <!-- Bannière -->
      <a href="http://track.effiliation.com/servlet/effi.click?id_compteur=21773694" target="_blank">
        <img src="http://track.effiliation.com/servlet/effi.show?id_compteur=21773694" alt="pub" border="0" />
      </a>     
      <!-- Adsense 
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3881759601129285"
           data-ad-slot="7018855683"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>-->
    </div>
  </div>
  <div class="row bg-light spacer-lg-bottom">
    <div class="col-sm-12 spacer-lg-top ">
      <div class="row text-bold">
        <div class="col-sm-2">
          <span class="d-block text-uppercase"><i class="far fa-calendar" aria-hidden="true"></i> date </span>
        </div>
        <div class="col-sm-2">
          <span class="d-block text-uppercase"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> lieu </span>
        </div>
        <div class="col-sm-7">
          <p class="text-uppercase"> randonnée</p>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="calendar-ajax" class="col-12 spacer-lg-top">
      <div id="waiting">
        <p>Chargement en cours du calendrier. Celà peut prendre quelques secondes.</p> 
        <p>Merci pour votre patience.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- Bannière -->
      <a href="http://track.effiliation.com/servlet/effi.click?id_compteur=21773694" target="_blank">
        <img src="http://track.effiliation.com/servlet/effi.show?id_compteur=21773694" alt="pub" border="0" />
      </a>      
      <!-- adsense 
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3881759601129285"
           data-ad-slot="7018855683"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>-->
    </div>
  </div>
</section>