---
title: Calendrier des randonnées VTT de Bretagne | VTT.bzh
---
    
<section id="calendar" class="container">
  <div class="row">
    <div class="col-12 spacer-lg-top spacer-lg-bottom">
      <h3 class="spacer-md-top">Calendrier</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <!-- Adsense -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3881759601129285"
           data-ad-slot="7018855683"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
  <div class="row">
    <div id="calendar-ajax" class="col-12 spacer-lg-top">
      <div id="waiting">
        <p>Chargement en cours du calendrier. Celà peut prendre quelques secondes.</p> 
        <p>Merci pour votre patience.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- VTT.bzh main -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-3881759601129285"
           data-ad-slot="7018855683"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</section>