---
title: VTT.bzh Premium
---

<div id="header-wrapper">
  <header class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="masthead-brand"><a href="/"><img src="./images/logo.png" alt=""></a>VTT.bzh</h3>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <section id="main" role="main" class="jumbotron">
          <h1 class="cover-heading">Offrez-vous Premium !</h1>
          <p class="lead spacer-lg-top">Le programme des randonnées chaque semaine</p>
          <p><strong>A partir de 2,99 €/mois.</strong></p>
          <p class="lead">
            <a href="https://vttbzh.wufoo.eu/forms/z2lmh50pcvtfc/" class="btn btn-primary text-bold spacer-lg-top">Abonnez-vous maintenant</a>
          </p>
        </section>
      </div>
    </div>
  </div>
</div>
<!--FEATURES-->
<section class="container">
	<header class="col-12 spacer-lg-top spacer-lg-bottom">
		<h2>Pourquoi passer à VTT.bzh Premium ?</h2>
	</header>
	
	<div class="row">
		<div class="col-12 spacer-lg-top">
			<div class="row">
				<div class="col-sm-4">
					<div class="row">
						<div class="col-12 mx-auto color-secondary">
							<i class="far fa-envelope-open fa-7x"></i>
						</div>
					</div>
					<h2 class="spacer-lg-top">1 fois par semaine</h2>
					<p><strong>Un email adapté PC, tablette et mobile.</strong></p>
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-12 mx-auto color-secondary">
							<i class="far fa-calendar-check fa-7x"></i>
						</div>
					</div>
					<h2 class="spacer-lg-top">Aucune pub</h2>
					<p><strong>Le programme du week-end, rien que le programme.</strong></p>					
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-12 mx-auto color-secondary">
							<i class="far fa-thumbs-up fa-7x"></i>
						</div>
					</div>
					<h2 class="spacer-lg-top">Plus de motivation</h2>
					<p><strong>Un rappel chaque semaine vous encouragera d'avantage.</strong></p>					
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid bg-light">
	<div class="container">
		<header>
			<div class="row">
				<div class="col-12 spacer-lg-top spacer-lg-bottom">
					<h2 class="spacer-lg-top">Roulez gratuitement ou abonnez-vous à VTT.bzh Premium.</h2>
				</div>
			</div>			
		</header>
		<div class="row">
			<div class="offset-1 col-4 spacer-lg-bottom bg-white price-tab">
				<div class="row">
					<div class="col-12 spacer-md-top">
						<h3>VTT.bzh FREE</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h4 class="text-bold">0,00€ <span class="legend">/mois</span></h4>
					</div>
				</div>
				<div class="row">
					<div class="col-12 spacer-md-top">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="col-3"><i class="fas fa-check color-secondary"></i></div>
								<div class="col-9">1x par <strong>mois</strong></div>
							</li>
							<li class="list-group-item disabled">
								<div class="col-3"><i class="fas fa-check"></i></div>
								<div class="col-9">100% sans publicité</div>
							</li>
							<li class="list-group-item disabled">
								<div class="col-3"><i class="fas fa-check"></i></div>
								<div class="col-9">Bonus motivation</div>
							</li>
							<li class="list-group-item disabled">
								<div class="col-3"><i class="fas fa-check"></i></div>
								<div class="col-9">Informations de mois de 3 jours</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-12 spacer-md-top">
						<a href="/le-code-vtt-bzh.html#theform" class="btn btn-outline-primary text-uppercase text-bold spacer-lg-bottom">Démarrer free</a>
					</div>
				</div>
			</div>
			<div class="offset-2 col-4 spacer-lg-bottom bg-white price-tab">
				<div class="row">
					<div class="col-12 spacer-md-top">
						<h3>VTT.bzh PREMIUM</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h4 class="text-bold"><span class="legend">dès  </span>2,99€  <span class="legend">/mois</span></h4>
					</div>
				</div>
				<div class="row">
					<div class="col-12 spacer-md-top">
						<ul class="list-group">
							<li class="list-group-item">
								<div class="col-3"><i class="fas fa-check color-secondary"></i></div>
								<div class="col-9">1x par <strong>semaine</strong></div>
							</li>
							<li class="list-group-item">
								<div class="col-3"><i class="fas fa-check color-secondary"></i></div>
								<div class="col-9">100% sans publicité</div>
							</li>
							<li class="list-group-item">
								<div class="col-3"><i class="fas fa-check color-secondary"></i></div>
								<div class="col-9">Bonus motivation</div>
							</li>
							<li class="list-group-item">
								<div class="col-3"><i class="fas fa-check color-secondary"></i></div>
								<div class="col-9">Informations de mois de 3 jours</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-12 spacer-md-top">
						<a href="https://vttbzh.wufoo.eu/forms/z2lmh50pcvtfc/" class="btn btn-primary text-uppercase text-bold spacer-lg-bottom"> Démarrer Premium</a>
					</div>
				</div>
			</div>
		</div>		
	</div>
</section>
