---
title: Qui sommes nous
---
<!-- Main -->
<section class="container">
	<header>
		<h2>Qui sommes nous</h2>
		<p>Vtt.bzh</p>
	</header>
	<div class="row">
		<div class="col-12">
			<p>Créé en 2013 sous l’appellation: rando VTT Bretagne, le site et l’application font peaux neuves 2016 sous le nom de VTT.bzh . Cette nouvelle version définitivement plus mobile regroupe les informations pour les passionnés de randonnée VTT en Bretagne sur le site internet et l’application, et ne vous quittera plus!<br>
			Alliant web et mobile, VTT.bzh répertorie l’ensemble des randos VTT de Bretagne dans un calendrier des randonnées le plus large possible. Un média-thèque de traces GPS vous permettra de combler les jours sans rando VTT, ceci avec la plus grande autonomie et le plus grand plaisir d’être seul avec son VTT, face à la nature.<br>
			Comme moi, je suis persuadé que, vous aussi, vous trouvez votre motivation dans le besoin de découvrir de nouveaux chemins, que ce soit sur le VTT ou derrière un écran. Les vidéos réalisées par les pilotes VTT internationaux sont à découvrir tous les jours, qu’il soit en rando en compétition, les images qu’ils nous proposent vous coupent de la réalité pendant cinq minutes. Outre le plaisir le découvrir de nouveaux paysages par correspondance, les vidéos de VTT vous permettent aussi de découvrir les nouveautés mécaniques ainsi que d’améliorer votre pilotage.<br>
			Et comme le VTT c’est surtout un sport mécanique, je cherche partage avec vous tous les jours les dernières nouveautés sur le matériel VTT qui arrivent sur marché via des dossiers matos, tests et autres conseils. Un annuaire des revendeurs / réparateurs de VTT de Bretagne vous permettra de garder dans un parfait état de marche votre VTT.<br>
			Enfin, la dernière nouveauté est la rubrique bons-plans qui référencie le plus de promotions et bons plans possible pour que votre passion ne soit plus source de discorde pour le budget de la maison. <br>
			Bon ride ! “<br>
			Nico de vtt.bzh</p>			
		</div>
	</div>
</section>
