---
title: Une erreur est suvenue lors de l'ajout | VTT.bzh
---
    
<section id="legende">
  <div class="container">
    <div class="row">
      <div class="col-12 spacer-lg-top spacer-md-bottom text-center">
        <h2 class="text-center alert alert-danger">Une erreur est survenue lors de l'ajout de votre événement au calendrier</h2>
        <p><strong>Que faire?</strong></p>
        <p>Réessayer de poster votre évènement maintenant via <a href="/organisateurs/" class="text-primary">le formulaire </a>.</p>
        <p>Si l'erreur persiste contactez nous à <a href="mailto:nicolas@vtt.bzh" class="text-primary">nicolas@vtt.bzh</a>.</p>
      </div>
    </div>    
  </div>
</section>
