---
title: Espace organisateurs | VTT.bzh
---
    
<section id="organisateurs" class="container-fluid bg-orange">
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-12 spacer-lg-top">
          <img class="img-fluid img-landing" src="../images/desktop.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-12 spacer-sm-top">
          <h2 class="text-uppercarse">Internet</h2>
          <ul>
            <li>+15 000 visiteurs /mois</li> 
          </ul>          
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-12 spacer-md-top">
          <img class="img-fluid img-landing" src="../images/mobile.png" alt="">  
        </div>
      </div>
      <div class="row">
        <div class="col-12 spacer-sm-top">
          <h2 class="text-uppercarse">Newsletter</h2>
          <ul>
            <li>+2 500 abonnés à la newsletter</li>
          </ul>          
        </div>
      </div>
    </div>
    <div class="col-sm-4 spacer-lg-bottom">
      <div class="row">
        <div class="col-12 spacer-md-top">
          <img class="img-fluid img-landing" src="../images/sociales.png" alt=""> 
        </div>
      </div>
      <div class="row">
        <div class="col-12 spacer-sm-top">
          <h2 class="text-uppercarse">Médias</h2>
          <ul>
            <li>+ 2 000 fans & Followers</li>
          </ul>          
        </div>
      </div>
    </div>
  </div>
</section>
<section id="form-organisateur">
  <div class="container">
    <div class="row">
      <div class="col-12 spacer-lg-top">
        <h2>Ajouter une épreuve VTT au calendrier</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 spacer-lg-top">
        <form class="text-left">
          <div class="form-group row">
            <label for="event_name" class="col-sm-2 col-form-label">Nom de l'épreuve</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="event_name" name="event_name" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description de l'épreuve</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-12 spacer-sm-bottom spacer-sm-left">
              <strong>Dates et horaires</strong>
            </div>
          </div>
          <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">Date de début</label>
            <div class="col-sm-1">
              <select class="form-control" id="jour_debut" name="jour_debut">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
            </div>
            <div class="col-sm-1">
              <select class="form-control" id="mois_debut" name="mois_debut">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>
            <div class="col-sm-2">
              <select class="form-control" id="annee_debut" name="annee_debut">
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
              </select>
            </div>
            <label for="horaire" class="offset-2 col-sm-2 col-form-label">Horaires de début</label>
            <div class="col-sm-1">
              <select class="form-control" id="heure_debut" name="heure_debut">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
              </select>
            </div>
            <div class="col-sm-1">
              <select class="form-control" id="minutes_debut" name="minutes_debut">
                <option value="00">00</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
              </select>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">Date de fin</label>
            <div class="col-sm-1">
              <select class="form-control" id="jour_fin" name="jour_fin">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
            </div>
            <div class="col-sm-1">
              <select class="form-control" id="mois_fin" name="mois_fin">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>
            <div class="col-sm-2">
              <select class="form-control" id="annee_fin" name="annee_fin">
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
              </select>
            </div>
            <label for="horaire" class="offset-2 col-sm-2 col-form-label">Horaires de début</label>
            <div class="col-sm-1">
              <select class="form-control" id="heure_fin" name="heure_fin">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
              </select>
            </div>
            <div class="col-sm-1">
              <select class="form-control" id="minutes_fin" name="minutes_fin">
                <option value="00">00</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
              </select>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12 spacer-sm-bottom spacer-sm-left">
              <strong>Tarifs</strong>
            </div>
          </div>
          <div class="form-group row">
            <label for="prix_public" class="col-sm-2 col-form-label">Prix public</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="prix_public" name="prix_public">
            </div>
            <label for="prix_club" class="col-sm-2 col-form-label">Prix club</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="prix_club" name="prix_club">
            </div>
          </div>
          <div class="row">
            <div class="col-12 spacer-sm-bottom spacer-sm-left">
              <strong>Localisation</strong>
            </div>
          </div>
          <div class="form-group row">
            <label for="lieu_rdv" class="col-sm-2 col-form-label">Lieu de rendez-vous</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="lieu_rdv" name="lieu_rdv">
            </div>
          </div>
          <div class="form-group row">
            <label for="ville" class="col-sm-2 col-form-label">Ville</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="ville" name="ville">
            </div>
            <label for="departement" class="col-sm-2 col-form-label">Departement</label>
            <div class="col-sm-4">
              <select class="form-control" id="departement" name="departement">
                <option value="22">22 - cote d'armor</option>
                <option value="56">56 - morbihan</option>
                <option value="29">29 - finistère</option>
                <option value="35">35 - ile et vilaine</option>
                <option value="44">44 - loire atlantique</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12 spacer-sm-bottom spacer-sm-left">
              <strong>Permance de l'organisation</strong>
            </div>
          </div>
          <div class="form-group row">
            <label for="organisateur" class="col-sm-2 col-form-label">Organisateur</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="organisateur" name="organisateur">
            </div>
            <label for="contact" class="col-sm-2 col-form-label">Nom & Prénom du contact</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="contact" name="contact">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" name="email">
            </div>
          </div>
          <div class="form-group row">
            <label for="site" class="col-sm-2 col-form-label">Site</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="site" name="site">
            </div>
          </div>
          <div class="row">
            <div class="col-4 mx-auto text-center spacer-md-top spacer-lg-bottom">
              <button type="submit" class="btn btn-primary d-block" id="submit-new-event">Valider</button> 
            </div>
          </div>
        </form>
      </div>
    </div>    
  </div>
</section>
<section id="legende">
  <div class="container">
    <div class="row">
      <div class="col-12 spacer-md-top spacer-md-bottom text-left">
        <h2 class="text-center">AJOUTEZ VOTRE EVENEMENT MAINTENANT</h2>
        <ul>
          <li>-> Ajouter un évènement au calendrier  avec le formulaire ci-contre.</li>
          <li>-> Et Après? Mettez en avant notre partenariat !Après la réception de l’ensemble des ces informations, nous inscrirons ou mettrons à jours votre évènement VTT sur le calendrier de  vtt.bzh  sous un délai d’une semaine.</li>
        </ul>
        <p>Encore merci poour votre contribution au calendrier vtt.bzh.</p>
        <p>L’équipe VTT.bzh vous souhaite de bons préparatifs pour votre évènement VTT.</p>
        <p>Bon ride à tous.</p>
        <p>Nico de VTT.bzh</p>
        <p>PS: N’oubliez pas de valorisez votre évènement en ajoutant sur les flyers et la page Facebook de votre évènement le logo VTT.bzh ;-) .</p>
      </div>
    </div>    
  </div>
</section>